.contact {
  position: relative;
  background: linear-gradient(to right, #820df0, #b050f0, #b180e9);
  font-family: sans-serif;
  background-blend-mode: multiply;
  width: 100vw;

  @media (max-width: 1100) {
    padding: 2rem;
  }
  .section__header-title {
    font-size: 23px;
    font-weight: 700;
    color: #383838;
  }
  .section__header-subtitle {
    font-size: 22px;
    font-weight: 600;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 70px;
        height: 90px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &-col {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 17px;
      z-index: 1;
    }
    &-bg {
      position: absolute;
      width: 250px;
      height: 100px;
      background: #6e3c97;
      border-radius: 5px;
      left: 20%;
    }
  }
  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 3rem;
    & a {
      font-size: 25px;
      text-transform: capitalize;
      
    }
  }
  &__wrapper {
    height: 100vh;
  }
  &__header {
    margin-bottom: 3rem;
    width: 90%;
   margin: auto;
  }
  &__footer {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100% !important;
    padding: 1rem 0;
    padding-bottom: 2rem;
    background: #360a5f;
    &-link {
      width: 100%;
      color: #fff;
      text-align: center;
      display: flex; 
      justify-content: space-evenly;
      font-size: 20px;
      @media (min-width: 900px) {
        font-style: 14px;
      }
    }
  }
}

.form {
  width: 90%;
  margin: auto;
  
  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.2vw;
    font-weight: 500;
    input {
      font-size: inherit;
      font-weight: inherit;
      background: transparent;
      border: none;
      border-bottom: 1px solid #0f0f0f;
      color: #444;
      &:focus {
        outline: none;
        background: transparent;
      }
    }
  }
  
  &__flex {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    textarea {
      width: 70%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #0f0f0f;
      font-size: 2.2vw;
      color: #444;
      resize: none;
      &:focus {
        outline: none;
      }
    }
    .contactButton {
      font-weight: 900;
      &:before {
        background: #3a3939;
      }
      &:after {
        display: none;
      }
      &:hover:before {
        background: #fff;
      }
    }
  }
}
.contact__profile, .contact__socials{
  background: linear-gradient(to right, #820df0, #b050f0, #b180e9);
 
}
.dependencyLinks{
  margin: auto;
}
.contact__profile-col{

  transform: scale3d(0.7, 0.7, 0.7);
}
@media (max-width: 900px) {
  .form {
    &__flex {
      flex-direction: column;
      textarea {
        font-size: 4vw;
      }
    }
    &__info {
      font-size: 4vw;

      input {
        font-size: 4vw;
      }
    }
  }
}

@media (max-width: 610px) {
  .form {
    &__info {
      flex-direction: column;
      align-items: flex-start;
      font-size: 5vw;
      width: 100%;
      input {
        font-size: inherit;
        width: inherit;
      }
    }
    &__flex {
      textarea {
        width: 100%;
        font-size: 5vw;
      }
    }
  }
}
