@import "./base.scss";
.skills {
  position: relative;
  font-size: 40px;
  height: 300px;
  background: rgb(1, 0, 29);
  overflow: hidden;
  text-align: center;
  color: white;

  padding: 1rem;
  &__header {
    font-weight: 600;
    @media (max-width: 567px) {
      & {
        font-size: 30px;
      }
    }
  }

  &__text {
    position: absolute;
    white-space: nowrap;
    font-weight: normal !important;
    text-transform: uppercase;
    &--left {
      left: 0;
      top: 6rem;
      animation: moveLeft 30s linear infinite;
      @keyframes moveLeft {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(-50%, 0, 0);
        }
      }
    }
    &--right {
      right: 0;
      top: 11rem;
      animation: moveRight 30s linear infinite;
      @keyframes moveRight {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(50%, 0, 0);
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: 200px;
    &__text {
      font-size: 20px;
      &--left {
        top: 5rem;
      }
      &--right {
        top: 8rem;
      }
    }
  }
}
